{% extends 'YuidoOAuth2ServerBundle::base.html.twig' %}

{% block body %}

    {% if error %}

        <div class="alert alert-danger alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}


    <div class="login-body">
        <article class="container-login center-block">
                <div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
                    <div id="login-access" class="tab-pane fade active in">
                        <h2><i class="glyphicon glyphicon-log-in"></i> Acceso</h2>						
                        <form action="{{ path('login_check') }}" method="post" accept-charset="utf-8" autocomplete="off" role="form">
                            <div class="form-group ">
                                <label for="_username" class="sr-only">Username:</label>

                                <input type="text" class="form-control center-block" id="username" name="_username" value="{{ last_username }}" 
                                       placeholder=" Username" tabindex="1" />
                            </div>
                            <div class="form-group ">
                                <label for="_password" class="sr-only">Password:</label>

                                <input type="password" class="form-control center-block" id="password" name="_password" 
                                       placeholder=" Password" value="" tabindex="2"/>
                            </div>
                            <div class="checkbox">
                                <label class="control-label" for="remember_me">
                                    <input type="checkbox" name="remember_me" id="remember_me" value="1" class="" tabindex="3" /> Recuerdame
                                </label>
                            </div>
                            <div class="form-group ">				
                                <button type="submit" name="log-me-in" id="submit" tabindex="5" class="btn btn-lg btn-danger center-block">Entrar</button>
                            </div>
                        </form>			
                    </div>
                </div>
        </article>
    </div>

{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/bundles/yuidooauth2server/css/styles.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('/bundles/yuidooauth2server/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/bundles/yuidooauth2server/js/jquery.min.js') }}"></script>
    <script src="{{ asset('/bundles/yuidooauth2server/bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
