
body {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 1.42857;
    background: #333333;
    height: 350px;
    padding: 0;
    margin: 0;
    background-image: url("http://www.pulsarwallpapers.com/data/media/3/Alien%20Ink%202560X1600%20Abstract%20Background.jpg");
}
.container-login {
    min-height: 0;
    width: 480px;
    color: grey;
    margin-top: 40px;
    padding: 10px;
}

.container-login > section {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
    border: 1px solid black;
}

.tabs-login {
    background: #ffffff;
    border: medium none;
    margin-top: -1px;
    padding: 10px 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.container-login h2 {
    color: #ea533f;
}

.container-login .checkbox {
    margin-top: -15px;
}
.container-login button {
    font-size: 18px;
    line-height: 1.33;
    width: 95%;
}















