{% extends 'YuidoOAuth2ServerBundle::base.html.twig' %}

{% block body %}



    <div class="login-body">
        <article class="container-login center-block">
            <div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
                <div id="login-access" class="tab-pane fade active in">
                    <h2><i class="glyphicon glyphicon-lock"></i> Autorización</h2>

                    {% if scopes|length > 0 %}
                        <p>{{ request.client_id }} necesita permiso para acceder a los siguientes datos:</p>

                        <ul class="list-group">
                            {% for scope in scopes %}
                                <li class="list-group-item">{{ scope }}</li>
                                {% endfor %}
                        </ul>
                    {% else %}
                        <p>{{ request.client_id }} quiere acceder.</p>
                    {% endif %}
                    <form action="?response_type={{ request.response_type }}&amp;client_id={{ request.client_id }}&amp;redirect_uri={{ request.redirect_uri }}&amp;scope={{ request.scope }}&amp;state={{ request.state }}" method="post">
                        <input type="hidden" name="authorize" value="1" />
                       <!-- <input type="submit" value="Estoy de acuerdo" /> -->
                        <button type="submit" class="btn btn-mini btn-success center-block">Estoy de acuerdo</button>
                    </form>

                </div>
            </div>
        </article>
    </div>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/bundles/yuidooauth2server/css/styles.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('/bundles/yuidooauth2server/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/bundles/yuidooauth2server/js/jquery.min.js') }}"></script>
    <script src="{{ asset('/bundles/yuidooauth2server/bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}